body {
	background: #fff;
	color: #454545;
	font: 0.8em verdana, arial, helvetica, sans-serif;
  margin: 0;
	padding: 0;
}

a:link, a:visited {	color: #0643bb;	background:inherit;	text-decoration: underline;}
a:active {	color: #990000;	background:inherit;	text-decoration: none;}
a:hover {	color: #d15517;	background:inherit;	text-decoration: none;}

h2 {
  background:inherit;
	color: #d15517;
	font: normal 190% "trebuchet ms", verdana, arial, helvetica, sans-serif;	
  padding: 0;
	margin:30px 0 0 16px;
}

h3, h4, h5 {
 background:inherit;	
 color: #5f5f5f;	
 font: normal 170% "trebuchet ms", verdana, arial, helvetica, sans-serif;
 padding:0;
 margin: 40px 0 0 16px;
}

.red{ background: inherit;color: #d15517;}

#wrapper{ width: 100%; float:left; margin:0 auto 0 auto; padding:0;}
#header{ width: 100%; float:left; background:#f8fbfd; color:#5f5f5f; margin:0; padding: 4px 0 40px 0;}

#banner { width: 58%; float:left; padding:0; margin: 40px 0 0 60px;}
#banner h1 { font:normal 220% "trebuchet ms", verdana, arial, helvetica, sans-serif;	margin: 0; padding:0;}
#banner  h1 a, h1 a:visited { background:inherit; color:#5f5f5f; text-decoration:none; }
#banner  h1 a:hover { background: inherit; color:#d15517; text-decoration:none;}

#menu{
 float:right;
 width:30%;
 font:normal 100% "trebuchet ms", verdana, arial, helvetica, sans-serif;
 text-align:right;
 margin: 4px 19px 4px 0;
 padding:0;
}

#menu ul{ padding:0; margin:0; list-style-type: none;}
#menu li { padding:0; margin:0 0 0 9px; display:inline; list-style-type: none;}


.search {	background:#fcfcfc;	padding:2px; color:#7d7d7d;	border:1px dotted #e1e1e1; margin:0;}

.button {
 color: #5f5f5f;
 background: #e7f1f8 url(images/srcbck.png);
 border:solid 1px #e1e1e1;
 cursor:pointer;
 font:bold 120% "trebuchet ms",verdana, arial, helvetica, sans-serif;
}

#topmenu{
  float:left;
  width:100%;
  background:#e7f1f8 url(images/menubck.png);
  color:#000;
  text-align:center;
  padding: 8px 0 8px 0;
  margin:0;
  border-bottom: 1px dotted  #bbd8ec;
  border-top: 1px dotted  #bbd8ec;
}

#topmenu ul{ padding:0; margin:0 0 0 14px; list-style-type: none;}
#topmenu li { padding:0; margin:0; display:inline; list-style-type: none;}

#topmenu a, #topmenu a:visited{
 margin:0 0 0 -5px;
 text-align:center;
 text-decoration:none;
 padding: 8px 20px 8px 20px;
 color:#5f5f5f;
 border-left: 1px dotted #bbd8ec;
 background:#e7f1f8 url(images/menubck.png);
 font:bold 130% "trebuchet ms", verdana, arial, helvetica, sans-serif;
}

#topmenu a:hover{ color:#d15517; background:#fff; }
#topmenu a#last{border-right:1px dotted #bbd8ec;}

#main{ width:80%; padding: 12px 0 12px 0; margin:0 auto 0  auto;}
#main p{ padding: 4px 10px 0 17px; margin:0; line-height:1.4em; }

#maincontent{ width:60%; padding: 12px 0 12px 0; margin:0 auto 0  auto;}

.img{ float:left; margin: 4px 6px 3px 4px; padding:2px;}
.subtitle{ padding:0; margin: 12px 0 0 17px; font:normal 1.4em verdana, arial, helvetica, sans-serif; color:#5f5f5f; background: inherit;}

#brdcrmb{ float:left; width:98%; padding:0; margin: 20px 0 50px 16px; background:inherit; color:#4d4d4d; font:normal 100%  verdana, arial, helvetica, sans-serif;}
#brdcrmb a, #brdcrmb a:visited{ background:inherit; color:#0643bb; text-decoration:underline;}
#brdcrmb a:hover, .bxtitle a:hover{ background:inherit; color:#d15517; text-decoration:none;}

.pagebox{ background:inherit; color:#fff;  width:100%; float:left; margin:30px 0 0 0; padding: 8px 0 8px 0;  text-align:right; }
.pagebox a, .buttonbox a{ background: #e7f1f8  url(images/srcbck.png); border:1px dotted #bbd8ec; color:#5f5f5f;
  font:bold 120% "trebuchet ms", verdana, arial, helvetica, sans-serif; text-decoration:none; margin:0 2px 0 0;
  padding:4px 8px 4px 8px;}

.pagebox a:hover, .buttonbox a:hover{ background: #fff; color:#d15517; text-decoration:none;}

.menubox{float:left; padding:6px 0 6px 0; margin: 30px 0 40px 0; width:100%;}

.menu1 {
 background:#e7f1f8 url(images/mnubck.png);
 color: #454545;
 float: left;
 width: 31%;
 padding:2px 0 6px 0;
 margin-left: 1.7%;
 display: inline;
}

.menu2,  .menu3{
 background:#e7f1f8  url(images/mnubck.png);
 color: #454545;
 float: left;
 width: 31%;
 padding:2px 0 6px 0;
 margin-left: 1.6%;
}

.menu1 p, .menu2 p, .menu3 p{ padding: 0 6px 0 6px; margin:0; font:normal 90% verdana, arial, helvetica, sans-serif; }

.bxtitle{
 background: inherit;
 color:#454545;
 padding: 2px 0 0 0;
 margin: 0 0 0 6px;
 font:normal 140% "trebuchet ms", verdana, arial, helvetica, sans-serif;
}

#footer{
  float:left;
  margin:20px 0 0 0;
  clear:both;
  width:100%;
  text-align:center;
  background: #e7f1f8 url(images/menubck.png);
  color:#404040;
  padding: 10px 0 6px 0;
  border-top: 1px dotted #bbd8ec; border-bottom: 1px dotted #bbd8ec;
}

#footer p{ margin:0; padding:0 0 3px 0; font:normal 100% "trebuchet ms", verdana, arial, helvetica, sans-serif;}